<ion-content>
<ion-card>
  <ion-card-header style="text-align: center; color:black;font-size: 1.5em;">SPECIFIC POST DETAILS</ion-card-header>
<ion-list>
  <ion-item lines="none"> 
    <ion-label>
      <strong>
      <h5 class="ion-text-wrap text1">User ID</h5>
    </strong>
    </ion-label>
    <ion-label>
      <h6 class="ion-text-wrap">{{data.userId}}</h6>
    </ion-label>
  </ion-item>
  <ion-item lines="none"> 
    <ion-label>
      <strong>
      <h5 class="ion-text-wrap text1">ID</h5>
    </strong>
    </ion-label>
    <ion-label>
      <h6 class="ion-text-wrap">{{data.id}}</h6>
    </ion-label>
  </ion-item>
  <ion-item lines="none"> 
    <ion-label>
      <strong>
      <h5 class="ion-text-wrap text1">Title</h5>
    </strong>
    </ion-label>
    <ion-label>
      <h6 class="ion-text-wrap">{{data.title}}</h6>
    </ion-label>
  </ion-item>
  <ion-item lines="none"> 
    <ion-label>
      <strong>
      <h5 class="ion-text-wrap text1">Body</h5>
    </strong>
    </ion-label>
    <ion-label>
      <h6 class="ion-text-wrap">{{data.body}}</h6>
    </ion-label>
  </ion-item>
  
</ion-list>
</ion-card>
<ion-button (click)="dismiss()">Dismiss</ion-button>
<ion-button (click)="presentAlertConfirm(data.id)">Delete</ion-button>
</ion-content>